.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5vw;
}

.header-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Use flex-start for proper alignment */
  gap: 1.5vw;
  max-width: 50%;
  text-align: left;
  animation: fadeIn 39s ease-in-out;
}

.header-contents h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
  color: blue;
}
.header-contents button {
  border: none;
  color: black;
  font-weight: 500;
  padding: 0.5vw 1.3vw; /* Adjust padding for a more rectangular look */
  background: #e67e22;
  font-size: max(1vw, 13px);
  border-radius: 30px; /* Use a smaller value for rounded corners */
  cursor: pointer; /* Add cursor pointer for better UX */
  transition: background-color 0.3s; /* Smooth background transition */
}

.header-contents button:hover {
  background: #f5b041; /* Change background on hover for feedback */
}
